
/* font style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* font style end */

  
/* phone */
  .manu-item{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    display: none;
}
/*  */


/* leptop */
/* header start */
/* navbar start */
  .header{
    border: 1px solid #24a1d6;
  }
.nav-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    justify-content: space-between;

}

.nav-school-logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.nav-title{
    font-size: 2rem;
    color: #111111;

}
.nav-link{
    display: flex;
    list-style: none;
    gap: 32px;
    font-weight: bold;
    align-items: center;

}
.nav-link a{
    text-decoration: none;
}
.nav-items{
    font-weight: 400;
}
.items-name-1{
    font-size: 1.25rem;
    color: #FEA301;
    font-weight: bold;

}
.items-name-2{
    font-size: 1.25rem;
    color: #01ACFD;
    font-weight: 600px;

}
.items-name-3{
    font-size: 1.25rem;
    color: #05D4DF;

}
.items-name-4{
    font-size: 1.25rem;
    color: #5D58EF;
    

}

.primary-button{
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.25rem;
    width: 180px;
    height: 50px;
}
/* navbar end */


  /* banner styles */
  .banner{
      display: flex;
      justify-content:space-between;
      margin: 140px;
      justify-items: center;
     align-items: center;
     margin-top: 10px;
  }
  .banner-content{
    width: 640px;
    height: 330px;

    
  }
  
  .banner-title{
      font-weight: bold;
      font-size: 3.5rem;
      margin: 0;
  }
  .banner-description{
    font-size: 1.25rem;
    width: 500;
    opacity: 50%;
    margin-top: 24px;
 }
 
  .Empowering{
    color: #FEA301;
  }
  .vision{
    color: #01ACFD;
  }
  
  .banner-profile-pic{
      width: 380px;

  }

  .btn-primary{
    background-color: #000000;
    border: none;
    border-radius: 12px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.25rem;
    width: 180px;
    height: 50px;
}
.btn-primary:hover, .primary-button:hover{
    background-color: rgb(25, 153, 20);
}




/* responsive header  */

@media screen and (max-width:576px){
    .manu{
        
        border: 0.5px solid orange;

    }
    .manu-item{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        margin: 20px;
        align-items: center;
    }
    
    .nav-container{
        display: none;
    }
    .banner{
        gap: 20px;
        flex-direction: column;
    }

    .banner-profile-pic{
        order: -1;
        width: 330px;
        height: 430px;
    }


.banner-content{
    width: 357px;
    height: 252px;
    justify-items: center;
}
.banner-title{
    width: 357px;
    font-size: 2rem;
    text-align: center;
    
}
.banner-description{
    font-size: 0.90rem;
    text-align: center;  
}

   
}

/* header end */

/* main */
/* section standard curriculam */
.standard-curriculam{
    margin-top: 20px;
    
    /* width: 1440px;
    height: 880px; */
}
.standard-curriculam-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    
}


.standard-curriculam-bg {
    position: relative;
    width: 1440px;
    height: 880px;
    border: 2px solid seagreen;
  }
  
  .standard-curriculam-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1160px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 140px 200px;
    gap: 28px;
    
    
    
  }

  .standard-curriculam-card{
    width: 367px;
    height: 475px;
    border-radius: 18px;
    box-shadow: 0 4px 3px #05a615;
    margin-top: 30px;
    
    
  }
  .card-1{
    background: linear-gradient(180deg,#DEF5FF,#FFFFFF);
    justify-items: center;
    border-radius:18px ;
    text-align: center;
    
    

  }
  .card-2 {
    background: linear-gradient(180deg,#FFF4DC,#FFFFFF);
    justify-items: center;
    border-radius:18px ;
    text-align: center;
  }
  .card-3{
    background: linear-gradient(180deg,#F2E8FF,#FFFFFF);
    justify-items: center;
    border-radius:18px ;
    text-align: center;

  }
  
  img{
    margin-top: 50px;
  }
  .card-1 a{
    text-decoration: none;
    color: #64C8FF;
    font-size: 1rem;
    font-weight: bold;
  }
  .card-2 a{
    text-decoration: none;
    color: #F0AA00;
    font-size: 1rem;
    font-weight: bold;
  }
  .card-3 a{
    text-decoration: none;
    color: #8700FF;
    font-size: 1rem;
    font-weight: bold;
  }

  p{
    margin: 30px;
    color: #808080;
  }
 

  

